@import url("https://fonts.googleapis.com/css?family=Charmonman");

header {
  height: 70px;
  background-color: #292f32;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  &__logo {
    font-family: Charmonman;

    #first {
      font-weight: 100;
      color: white;
    }

    #second {
      color: #e58a20;
      font-weight: 700;
    }
  }

  &__nav {
    width: auto;
  }

  &__nav ul {
    display: flex;

    li {
      font-size: 14px;
      list-style: none;
      text-transform: uppercase;
      margin-left: 3rem;

      a {
        text-decoration: none;
        transition: 0.3s;
        color: white;

        &:hover {
          color: #e58a20;
        }
      }
    }
  }
}