@import url("https://fonts.googleapis.com/css?family=Charmonman");

.newsletter {
  height: 100px;
  background-color: #5b605f;

  .newsletter__container {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }

  h3 {
    font-size: 30px;
    color: #ffffff;
  }

  input {
    height: 35px;
  }

  button {
    background: #ff6600;
    border: none;
    height: 35px;
    padding: 0 1.9rem;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 1px;

    &:hover {
      cursor: pointer;
      background-color: lighten(#ff6600, 10%);
    }
  }
}