@import "./components/about";
@import "./components/author";
@import "./components/carousel";
@import "./components/footer";
@import "./components/header";
@import "./components/newsletter";
@import "./components/redirect";
@import "./components//frontview";
@import "./components/appwrapper";
@import "./components//pulpit";
@import "./components/przepisy";
@import "./components/welcome";
@import "./components/addrecipe";
@import './components/addplan';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
