@import "./components/about";
@import "./components/author";
@import "./components/carousel";
@import "./components/footer";
@import "./components/header";
@import "./components/newsletter";
@import "./components/redirect";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}